:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  align-items: flex-end;
}

.title {
  text-align: center;
  font-size: 3rem;;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
}

.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  flex-grow: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  gap: 1rem;
  padding: 45px;
  border-radius: 10px;
}

.card-name {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.win-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  gap: 1rem;
  padding: 45px;
  border-radius: 10px;
}
.win-message {
  font-size: 2rem;
  text-align: center;
  color: green;
  font-weight: bold;
}

