:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid green;
  padding: 1rem;
  align-items: flex-end;
}

.title {
  text-align: center;
  font-size: 3rem;;
}

.subtitle {
  font-size: 1.5rem;
}

